<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--&lt;!&ndash; 引入jedis配置文件 &ndash;&gt;-->
    <context:property-placeholder location="classpath:/redis/redis.properties"/>

    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="maxTotal">-->
            <!--<value>200</value>-->
        <!--</property>-->
        <!--<property name="maxIdle">-->
            <!--<value>50</value>-->
        <!--</property>-->
        <!--<property name="testOnBorrow" value="true"/>-->
        <!--<property name="testOnReturn" value="true"/>-->
    <!--</bean>-->

    <!--<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool"  scope="singleton">-->
        <!--<constructor-arg index="0" ref="jedisPoolConfig" />-->
        <!--<constructor-arg index="1">-->
            <!--<list>-->
                <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                    <!--<constructor-arg name="host" value="redis://123456@127.0.0.1:6379/0" />-->
                <!--</bean>-->
            <!--</list>-->
        <!--</constructor-arg>-->
    <!--</bean>-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">

        <property name="maxIdle" value="25"></property>

        <property name="testOnBorrow" value="false"></property>
        <property name="testOnReturn" value="false"></property>
    </bean>
    <!-- jedis 连接池  连接本地redis服务 构造器注入-->
    <bean id="pool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0"  ref="poolConfig"/>
        <constructor-arg index="1" value="127.0.0.1"/>
        <constructor-arg index="2" value="6379"/>
        <constructor-arg index="3" value="2000"/>
        <constructor-arg index="4" value="123456"/>
    </bean>
    <!-- cleint-->
    <bean id="redisClient" class="com.wanwan.common.util.RedisClient">
        <property name="pool" ref="pool"/>
    </bean>
</beans>